@model List<SistemaHospitalario.Models.Citas>

<div class="card">
    <div class="card-header">
        <h5>Eliga un dia</h5>
    </div>
    <div class="card-block">
        <input readonly type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="diacita" />
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Listado de citas</h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre Doctor</th>
                        <th>Paciente</th>
                        <th>Fecha y Hora</th>
                        <th>Duracion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id='bodycitastable'>
                    @foreach (SistemaHospitalario.Models.Citas citas in ViewBag.Citas)
                    {
                        <tr>
                            <th scope="row">@citas.Doctor.Nombres</th>
                            <td>@(citas.Paciente.Nombre + "" + citas.Paciente.Apellido)</td>
                            <td>@citas.HoraCita</td>
                            <td>@citas.Duracion</td>
                            <td><a class="btn btn-primary" 
                                   asp-controller="Doctor" 
                                   asp-action="CrearConsulta"
                                   asp-route-id="@citas.CitasId">Crear Consulta</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a class="btn btn-primary" asp-controller="Doctor" asp-action="CrearConsulta"> Consulta sin cita</a>
        </div>
    </div>
</div>