@using SistemaHospitalario.Models
@model SistemaHospitalario.Models.ConsultaPaciente

<form id="form" method="post" asp-controller="Doctor" asp-action="CrearConsulta" class="form-material">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn waves-effect waves-light btn-inverse" asp-action="Pacientes"><i class="icofont icofont-exchange"></i>Citas Registradas</a>
            <br />
            <br />
            <div class="card">
                <div class="card-header">
                    <h5>Agregar Citas</h5>
                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                </div>
                <div class="card-block">
                    @if (ViewBag.Cita != null)
                    {
                        <input type="hidden" readonly class="form-control" asp-for="@Model.CitaId" value="@ViewBag.Cita.CitasId">
                        <input type="hidden" readonly class="form-control" value="@ViewBag.Cita.Doctor.UsuarioId">
                        <div class="form-group form-default form-static-label">
                            <input readonly class="form-control" value="@ViewBag.Cita.Doctor.Nombres">
                            <span class="form-bar"></span>
                            <label class="float-label">Doctor</label>
                        </div>
                        <input type="hidden" readonly class="form-control"  value="@ViewBag.Cita.Paciente.PacienteId">
                        <div class="form-group form-default form-static-label">
                            <input readonly class="form-control" value="@ViewBag.Cita.Paciente.Nombre">
                            <span class="form-bar"></span>
                            <label class="float-label">Paciente</label>
                        </div>
                        <div class="form-group form-default form-static-label">
                            <input id="fechaac" asp-for="@Model.DiaActual" readonly type="datetime-local" class="form-control text-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Fecha y Hora</label>
                        </div>
                        <div class="form-group form-default form-static-label">
                            <input readonly  value="@ViewBag.Cita.Duracion" type="number" class="form-control text-control" placeholder="Duracion de la cita (En horas)" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Duracion Cita:</label>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" readonly class="form-control"  value="@ViewBag.Doctor.UsuarioId">

                        <div class="form-group form-default form-static-label">
                            <input readonly class="form-control" value='@ViewBag.Doctor.Nombres' />
                            <span class="form-bar"></span>
                            <label class="float-label">Doctor</label>
                        </div>
                        <div class="form-group form-default form-static-label">
                            <select class="form-control" >
                                @foreach (Paciente paciente in ViewBag.Pacientes)
                                {
                                    <option value="@paciente.PacienteId">@paciente.Nombre</option>
                                }
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Pacientes</label>
                        </div>
                        <div class="form-group form-default form-static-label">
                            <input id="fecha" type="datetime-local" class="form-control text-control" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Fecha y Hora</label>
                        </div>
                        <div class="form-group form-default form-static-label">
                            <input type="number" class="form-control text-control" placeholder="Duracion de la cita (En horas)" required="">
                            <span class="form-bar"></span>
                            <label class="float-label">Duracion Cita:</label>
                        </div>
                        <button class="btn waves-effect waves-light btn-success text-control"><i class="icofont icofont-check-circled"></i>Registrar Citas</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
            <br />
            <div class="card">
                <div class="card-header">
                    <h5>Detalle Consulta</h5>
                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                </div>
                <div class="card-block">

                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.FechaProximaCita" type="datetime-local" class="form-control text-control">
                        <span class="form-bar"></span>
                        <label class="float-label">Proxima Cita (Opcional)</label>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Nombre Receta: <input id="receta"/> </td>
                                <td>Cantidad: <input id="cantidad"/> </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn btn-success" href="#" onclick="agregarRecetaFromInput()">Agregar Receta</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Receta</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="bodyrecetatable"></tbody>
                    </table>
                    <button class="btn waves-effect waves-light btn-success text-control"><i class="icofont icofont-check-circled"></i>Registrar Citas</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section script
    {

    <script>
        $(document).ready(
            function () {

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd
                }

                if (mm < 10) {
                    mm = '0' + mm
                }

                today = yyyy + '-' + mm + '-' + dd+'T'+'05:33';

                cambiarFecha(today);
                function cambiarFecha(fecha) {
                    //debugger;
                    var fechatxt = $('#fechaac');

                    var dia = fecha.substring(8,10);
                    var mes = fecha.substring(5,7);
                    var anio = fecha.substring(0,4);

                    var hora = fecha.substring(11,13);
                    var minuto = fecha.substring(14,16);

                    var fechaNamiciento = anio + "-" + mes + "-" + dia + "T" + hora+':' + minuto;
                    console.log(fechatxt[0]);
                    console.log(fechaNamiciento);
                    fechatxt.val(fechaNamiciento);
                }

                });
        function agregarRecetaFromInput() {
            var Receta = $('#receta').val();
            var Cantidad=$('#cantidad').val();
            agregarReceta(Receta, Cantidad);
        }

        function agregarReceta(nombreReceta, cantidadReceta) {
            var recetasTable = $('#bodyrecetatable');
            var numero = $('.recetaclass').length;
            
            var row = $('<tr>');
            var receta = $('<td><input class="recetaclass" id="Recetas_' + numero + '__Nombre" name="Recetas[' + numero +'].Nombre" type="text" readonly value="' + nombreReceta + '"/></td>');
            var cantidad = $('<td><input id="Recetas_' + numero + '__Cantidad" name="Recetas[' + numero +'].Cantidad" type="text" readonly value="' + cantidadReceta + '"/></td>');
            var acciones = $('<td>Eliminar</td>');

            row.append(receta);
            row.append(cantidad);
            row.append(acciones);
            recetasTable.append(row);
        }
    </script>
}