@model List<SistemaHospitalario.Models.ConsultaPacienteModel>

<div class="card">
    <div class="card-header">
        <h5>Listado de citas</h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Dia Consulta</th>
                        <th>Paciente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaHospitalario.Models.ConsultaPacienteModel consulta in Model)
                    {
                    <tr>
                        <th scope="row">@consulta.Consulta.DiaActual</th>
                        <td>@(consulta.Cita.Paciente.Nombre + " " + consulta.Cita.Paciente.Apellido)</td>
                        @if ((ViewBag.ItsAdmin != null && ViewBag.ItsAdmin == true) ||
                         (ViewBag.UsuarioRol != null && ViewBag.UsuarioRol == "Asistente"))
                        {
                            <td>
                                <input type="text" asp-for="@consulta.Consulta.PagoServicio" id="pago-@consulta.Consulta.ConsultaPacienteId" />
                                <a class="btn btn-primary" onclick="Pago(@consulta.Consulta.ConsultaPacienteId)">Pagar</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-primary" 
                                   asp-controller="Doctor"
                                   asp-action="VerReseta"
                                   asp-route-id="@consulta.Consulta.ConsultaPacienteId">Receta</a>
                            </td>

                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section script
    {

    <script>
        $(document).ready(
            function () {

            });

        function Pago(idPago) {

            var amount  = $("#pago-" + idPago).val();

            $.post("/Doctor/AgregarPago", { 'IdConsulta': idPago, 'Amount': amount }, function (result) {

            });
        }
    </script>
}