@model SistemaHospitalario.Models.Paciente

<div class="row">
    <div class="col-sm-12">
        <a class="btn waves-effect waves-light btn-inverse" asp-action="Pacientes"><i class="icofont icofont-exchange"></i>Pacientes Registrados</a>
        <br />
        <br />
        <div class="card">
            <div class="card-header">
                <h5>Registro de Pacientes</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
                <form method="post" asp-controller="Asistente" asp-action="Paciente" class="form-material">
                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.Cedula" type="text" class="form-control" placeholder="Ingrese la Cedula" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Cedula</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.Nombre" type="text" class="form-control text-control" placeholder="Ingrese los nombre" disabled required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.Apellido" type="text" class="form-control text-control" placeholder="Ingrese los apellido" disabled required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Apellido</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.FechaNacimiento" type="date" class="form-control text-control" disabled>
                        <span class="form-bar"></span>
                        <label class="float-label">Fecha Nacimiento</label>
                    </div>
                    <div class="form-group form-default form-static-label">
                        <input asp-for="@Model.TipoSangre" type="text" class="form-control text-control" placeholder="Ingrese el tipo de sangre" disabled required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Tipo Sangre</label>
                    </div>
                    <button disabled class="btn waves-effect waves-light btn-success text-control"><i class="icofont icofont-check-circled"></i>Registrar Paciente</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section script
    {
    <script>
        $(document).ready(
            function () {
                var cedulatxt = document.getElementById('Cedula');
                $(cedulatxt).on('input', function () {
                    cedulaTBTextControl(cedulatxt);
                    if ($(cedulatxt).val().length > 12) {
                        console.log('paso');
                        var noCedula = $(cedulatxt).val();
                        $.post("/Asistente/VerificarCedulaPaciente", { 'cedula': $(cedulatxt).val() }, function (result) {
                            if (result == false) {
                                UnlockFieldsByCedula();
                            }
                            else {
                                ReplaceFieldValue(result);
                            }
                        });
                    }
                });

                function ReplaceFieldValue(Paciente) {

                    var fecha = Paciente.fechaNacimiento;
                    var date = new Date(fecha);

                    var month = date.getMonth().toString();
                    if (month.length == 1) {
                        month = "0" + month;
                    }
                    var day = date.getDay().toString();
                    if (day.length == 1) {
                        day = "0" + day;
                    }

                    var fechaNamiciento = date.getFullYear() + "-" + month + "-" + day;


                    $('#Nombre').val(Paciente.nombre);
                    $('#Apellido').val(Paciente.apellido);
                    $('#FechaNacimiento').val(fechaNamiciento);
                    $('#TipoSangre').val(Paciente.tipoSangre);
                }

                function UnlockFieldsByCedula() {
                    var allFields = $(".text-control");
                    $(allFields).each(function () {
                        $(this).prop('disabled', false);
                    })
                    $(cedulatxt).prop('readonly', true);

                }
                function lockFieldsByCedula() {
                    var allFields = $("input[name=footer-email]");
                    $(allFields).each(function () {
                        $(this).prop('disabled', true);
                    })
                    $(cedulatxt).prop('disabled', false);
                }
                function cedulaTBTextControl(textbox) {
                    var text = $(textbox).val();
                    var result = "";
                    var len = text.length;

                    if (len > 11 && text[11] != '-') {
                        var parteIzquierda = text.substring(0, 11);
                        var parteDerecha = text.substring(11, 12);
                        result = parteIzquierda + "-" + parteDerecha;
                    }
                    else {
                        result = text;
                    }

                    if (len > 3 && text[3] != '-') {
                        var parteIzquierda = result.substring(0, 3);
                        var parteDerecha = result.substring(3, len);
                        result = parteIzquierda + "-" + parteDerecha;
                    }

                    if (result.length > 12) {
                        result = result.substring(0, 13);

                    }
                    $(textbox).val(result);



                }
            }
        )
    </script>
}